@mixin normal {
    font-size: 25px;
}

form {
    margin-left: 03vh;
}

button{
    background-color: black;
    color: whitesmoke;
    margin-right: 20px;
    align-items: center;
    font-size: 15px;
}

#method {
    padding-bottom: 20vh;
    @include normal;
}

#result {
    @include normal;
}

